<%= render 'layouts/page_names', text: "Изменение посещения" %>


<%= render "form", visit: @visit %>

<br>

<div class="btn-group" role="group">
  <%= link_to "Отменить изменение", @visit, class: "btn btn-secondary rounded-pill mx-2" %>
</div>
